.place__image {
  width: 460px;
  height: 460px;
  grid-row: 2/5;
}



@media screen and (max-width: 1024px) {
  .place__image {
    max-width: 440px;
    max-height: 440px;
  }
}
@media screen and (max-width: 768px) {
  .place__image {
    max-width: 340px;
    max-height: 340px;
  }
}
@media screen and (max-width: 620px) {
  .place__image {
    padding-bottom: 32px;
    margin: auto;
    width: 100vw;
  }
}
@media screen and (max-width: 320px) {
  .place__image {
    max-height: 320px;
  }
}