.place__website-link {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  border-bottom: 1px #FFFFFF solid;
  color: #FFFFFF;
  transition: opacity .2s ease;
}
.place__website-link:hover {
  opacity: 0.8;
}



@media screen and (max-width: 620px) {
  .place__website-link {
    margin-left: 16px;
  }
}